<h2>My Links</h2>

<div>
  <label>Link name:
    <input #linkName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(linkName.value); linkName.value=''">
    add
  </button>
</div>

<ul class="links">
  <!-- <li *ngFor="let link of links"
    [class.selected]="link === selectedLink"
    (click)="onSelect(link)"> -->
  <li *ngFor="let link of links">
    <a routerLink="/detail/{{link.id}}">
      <span class="badge">{{link.id}}</span> {{link.description}}
    </a>
    <button class="delete" title="delete link" (click)="delete(link)">
      x
    </button>
  </li>
</ul>

<!-- <app-link-detail [link]="selectedLink"></app-link-detail> -->
